@{
    ViewData["Title"] = "Főoldal";
}

<form class="search-form" asp-controller="Search" asp-action="SearchResult">
    <div class="main-text">
        <div id="search-box">
            <input name="toSearch" id="input-text" type="text"
                   placeholder="Keresés név, város, szakterület alapján..."
                   onblur="this.placeholder='Keresés név, város, szakterület alapján...'"
                   onfocus="this.placeholder = ''">
            <button type="submit" id="btnSubmit" class="search-icon">
                <i class="fas fa-search"></i>
            </button>
            <label for="input-text">Magyarország orvos, és egészségügyi intézmény nyílvántartása.<br>Keress, értékelj!</label>
            <div class="search-data"></div>
        </div>
    </div>
</form>
