@{
    ViewData["Title"] = "Főoldal";
}

<div>
   

</div>

<form class="search-form" asp-controller="Search" asp-action="SearchResult">
    <div class="main-text">
        <div id="search-box">
            <input class="input-text" name="toSearch" id="input-text" type="text"
                   placeholder="Keresés név, város, szakterület alapján..."
                   onblur="this.placeholder='Keresés név, város, szakterület alapján...'"
                   onfocus="this.placeholder = ''">
            <button type="submit" id="btnSubmit" class="search-icon">
                <i class="fas fa-search"></i>
            </button>
           
            <div class="home-checkboxes">
                <div>
                    <label for="bySpeciality"> Szakterület</label>
                    <input checked type="checkbox" name="bySpeciality" value="true" title="Szakterület" />
                </div>
                <div>
                    <label for="byName">Név</label>
                    <input checked type="checkbox" name="byName" value="true" title="Név" />
                </div>
                <div>
                    <label for="byCity">Város</label>
                    <input checked type="checkbox" name="byCity" value="true" title="Város" />
                </div>
            </div>


            <label for="input-text">Magyarország orvos, és egészségügyi intézmény nyílvántartása.<br>Keress, értékelj!</label>
            <div class="search-data"></div>
        </div>
    </div>
</form>
