@page
@model LockoutModel
@{
    ViewData["Title"] = "Hozzáférés megtagadva";
}

<div class="card">
    <div class="card-header text-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <p class="text-danger">Ez a felhasználói fiók tiltásra került.</p>
    </div>
</div>
   
   

