@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Regisztráció megerősítése";
}

<div class="card">
    <div class="card-header">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="card-body">
        <p>Megerősítő e-mail elküldve. Kérlek ellenőrizd az e-mail fiókod.</p>
    </div>
</div>
}
