@model MarkMyDoctor.Models.ViewModels.DoctorViewModel

@{
    ViewData["Title"] = "Orvos hozzáadása";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-12 text-white p-5 mt-5 bg-black">
            <h2>Orvos hozzáadása</h2>
            <hr />
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Doctor.Name" class="control-label"></label>
                        <input asp-for="Doctor.Name" class="form-control" />
                        <span asp-validation-for="Doctor.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="SelectedSpecialityIds"></label>
                        <select multiple="multiple" class="select2-mmd" asp-for="SelectedSpecialityIds" asp-items="Model.Specialities"></select>
                        <span asp-validation-for="SelectedSpecialityIds" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Doctor.PhoneNumber" class="control-label"></label>
                        <input asp-for="Doctor.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Doctor.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check col-md-6">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Doctor.CanPayWithCard" /> @Html.DisplayNameFor(model => model.Doctor.CanPayWithCard)
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Doctor.Email" class="control-label"></label>
                        <input asp-for="Doctor.Email" class="form-control" />
                        <span asp-validation-for="Doctor.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Doctor.WebAddress" class="control-label"></label>
                        <input asp-for="Doctor.WebAddress" class="form-control" />
                        <span asp-validation-for="Doctor.WebAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" name="Image" type="file" accept="image/*" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Mentés" class="btn btn-primary" />
                </div>

                <div>
                    <a class="btn btn-primary" asp-action="Manage">Vissza a listához</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
