@model MarkMyDoctor.Models.ViewModels.DoctorViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doctor.Id" />
            <div class="form-group">
                <label asp-for="Doctor.Name" class="control-label"></label>
                <input asp-for="Doctor.Name" class="form-control" />
                <span asp-validation-for="Doctor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSpecialityIds"></label>
                <select multiple="multiple" class="select2-mmd" asp-for="SelectedSpecialityIds" asp-items="Model.Specialities"></select>
                <span asp-validation-for="SelectedSpecialityIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.PhoneNumber" class="control-label"></label>
                <input asp-for="Doctor.PhoneNumber" class="form-control" />
                <span asp-validation-for="Doctor.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Doctor.CanPayWithCard" /> @Html.DisplayNameFor(model => model.Doctor.CanPayWithCard)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Email" class="control-label"></label>
                <input asp-for="Doctor.Email" class="form-control" />
                <span asp-validation-for="Doctor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.WebAddress" class="control-label"></label>
                <input asp-for="Doctor.WebAddress" class="form-control" />
                <span asp-validation-for="Doctor.WebAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.PorfilePicture" class="control-label"></label>
                <input asp-for="Doctor.PorfilePicture" class="form-control" />
                <span asp-validation-for="Doctor.PorfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.OverallRating" class="control-label"></label>
                <input asp-for="Doctor.OverallRating" class="form-control" />
                <span asp-validation-for="Doctor.OverallRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
